#app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .app-loading {
    position: fixed;
    inset: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    .van-loading__spinner {
      margin-top: -20%;
    }
  }
}
